[Desktop Entry]
Type=Application
Name=OpenLibrary
Comment=Read EPUB books comfortably
Exec=openlibrary %f
Icon=book
Terminal=false
Categories=Office;Viewer;Literature;
MimeType=application/epub+zip;
